
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
 
    <div class="container">
        <div class="right-section">
            <form class="login-form">
                <h2>Set a Password</h2>
                <p class="pass-paragraph">Your previous password has been reseted. Please set a new password for your account.</p>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Create Password">
                    <span id="togglePassword" class="eye-icon">&#128065;</span> 
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Re-enter Password">
                    <span id="togglePassword" class="eye-icon">&#128065;</span> <!-- Eye Icon for visibility toggle -->
                </div>
                <button type="button" class="login-button" onclick="window.location.href='{% url 'login' %}'">Set Password</button>
            </form>
            
        </div>
    </div>
</body>
<script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.getElementById('togglePassword');
    
        // Toggle password visibility
        if (passwordField.type === 'password') {
            passwordField.type = 'text'; // Show password
            eyeIcon.innerHTML = '&#128065;'; // Open eye
        } else {
            passwordField.type = 'password'; // Hide password
            eyeIcon.innerHTML = '&#128064;'; // Closed eye
        }
    });
    
</script>
</html>
